In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from matplotlib.pyplot import figure
import seaborn as sns

In [4]:
pd.set_option('display.max_rows',None)
%matplotlib inline

In [127]:
subscription_data=pd.read_csv(r'G:\MLDPI\Data analyst projects\Entri app Challenge\user_data_set\track_subscription_data.csv')

In [5]:
purchase_data=pd.read_csv(r'G:\MLDPI\Data analyst projects\Entri app Challenge\user_data_set\user_purchase_data.csv')

In [6]:
video_activity_data=pd.read_csv(r'G:\MLDPI\Data analyst projects\Entri app Challenge\user_data_set\user_video_activity_data.csv')

In [7]:
purchase_data['date_joined']=pd.to_datetime(purchase_data['date_joined'],infer_datetime_format=True)

In [8]:
purchase_data['date_of_first_purhcase']=pd.to_datetime(purchase_data['date_of_first_purhcase'],infer_datetime_format=True)

In [9]:
video_activity_data['watched_at']=pd.to_datetime(video_activity_data['watched_at'],infer_datetime_format=True)

In [10]:

dummy_data=['Unpaid' if val is pd.NaT else 'Paid' for val in purchase_data['date_of_first_purhcase'] ]

purchase_data['Subscription'] = dummy_data

In [11]:
purchase_data=purchase_data.rename(columns={'user_uid':'user_id'})

In [12]:
video_activity_data_merged=pd.merge(video_activity_data, purchase_data, how ='inner', on ='user_id')

In [13]:
video_activity_data_grouped=video_activity_data_merged.groupby('user_id')

In [41]:
grouped_data=video_activity_data_grouped.get_group(6).sort_values(by=['watched_at'])

In [15]:
purchase_data.head()

   user_id date_joined date_of_first_purhcase Subscription
0        6  2021-06-04             2021-06-04         Paid
1      608  2021-06-04                    NaT       Unpaid
2      635  2021-06-04                    NaT       Unpaid
3      745  2021-06-04                    NaT       Unpaid
4     1506  2021-06-04                    NaT       Unpaid

In [16]:
video_activity_data_merged['user_id'].unique()

array([     6,    635,   1512,   1642,   1796,   1831,   2610,   3418,
         3421,   3439,   3458,   3464,   3664,   3827,   5201,   5243,
         5609,   5970,   6190,   6323,   7102,   7305,   7446,   8062,
         8962,   9540,   9677,   9747,  10458,  10590,  11104,  11729,
        11736,  12671,  13430,  13940,  15230,  15431,  15514,  15605,
        16938,  16980,  17705,  18663,  18935,  19117,  19800,  20117,
        20168,  20603,  20740,  20817,  21043,  21068,  21317,  21447,
        21708,  21760,  21808,  22059,  23592,  23744,  23827,  24366,
        24495,  25313,  26580,  27054,  27593,  27946,  28487,  28516,
        28531,  28621,  29241,  29403,  29443,  29712,  30113,  30146,
        30206,  30437,  30514,  30582,  31373,  31686,  31835,  31949,
        32116,  32455,  33253,  33306,  33681,  34032,  34093,  34172,
        34271,  34494,  34926,  35674,  36009,  36338,  36414,  38173,
        38599,  38705,  39551,  39651,  40853,  41094,  41243,  41706,
        42048,  43158,  43511,  45214,  45750,  45989,  46309,  46558,
        46605,  46821,  46976,  47744,  47954,  47998,  48295,  48595,
        49995,  50137,  52185,  52416,  52425,  55112,  55281,  56406,
        56741,  57884,  57927,  59886,  60166,  60441,  60886,  60964,
        60989,  61010,  61054,  61429,  61783,  61874,  62123,  62316,
        63372,  63748,  68264,  68288,  68292,  68866,  69176,  69238,
        69406,  69508,  69676,  72073,  72616,  73700,  74229,  75090,
        77037,  77561,  78409,  78626,  79702,  79713,  79799,  80150,
        80559,  80603,  81042,  81990,  82343,  83016,  83029,  86603,
        87068,  87138,  87284,  87884,  88653,  88846,  89201,  89213,
        89386,  89497,  89858,  90187,  91086,  91932,  92058,  92432,
        92982,  94673,  95712,  96172,  96798,  96887,  97220,  97285,
        98764,  99595, 100171, 102410, 103374, 104394, 104609, 104666,
       104979, 105225, 105297, 105377, 106048, 106343, 106394, 106598,
       106711, 106963, 108107, 108778, 108923, 110434, 110586, 110896,
       111537, 111721, 111765, 111882, 111952, 112250, 113055, 113340,
       114837, 116092, 118804, 120725, 121311, 121434, 121538, 121791,
       121949, 122886, 123027, 123854, 124096, 124499, 126290, 127675,
       128150, 128155, 128927, 129193, 129363, 129707, 129986, 132110,
       132548, 134886, 135474, 135896, 136202, 136592, 136944, 136976,
       137006, 137417, 137700, 138440, 139408, 139721, 140453, 140697,
       141215, 141298, 141525, 141836, 141844, 142234, 142315, 142885,
       144412, 144649, 144826, 145829, 146028, 146116, 147198, 147358,
       147750, 147964, 148271, 149419, 149901, 149989, 150634, 150909,
       151341, 151840, 152458, 152621, 153438, 153686, 153799, 154365,
       154650, 154857, 154908, 154944, 156344, 157324, 157791, 158909,
       159497, 159777, 159948, 160003, 161143, 161490, 161619, 161864,
       163179, 165380, 166786, 167432, 167684, 168195, 168337, 168346,
       168857, 168882, 168940, 169264, 169432, 169928, 171072, 171460,
       171663, 171698, 171726, 171826, 172862, 173408, 173584, 173886,
       174164, 174169, 174794, 175229, 175451, 175816, 175823, 176025,
       176077, 176107, 176293, 176576, 176623, 176848, 176926, 177351,
       177795, 178088, 178176, 178208, 178241, 178629, 179089, 179987,
       180229, 180992, 181178, 181441, 181788, 182010, 182268, 182544,
       182587, 182836, 183030, 183157, 183234, 183640, 185252, 185364,
       185830, 186037, 186523, 188711, 188965, 189736, 189738, 189925,
       190166, 190290, 190648, 190771, 191761, 191794, 193673, 194632,
       194975, 196414, 196684, 197962, 199006, 200109, 200399, 200545,
       200700, 200739, 201210, 201481, 201710, 202984, 203696, 204454,
       204540, 205241, 205469, 205592, 206274, 206455, 207226, 208450,
       208495, 209843, 210661, 210665, 210984, 211158, 211382, 212260,
       212626, 213215, 213951, 214568, 215322, 216546, 216806, 218193,
       219331, 219363, 219527, 219786, 220264, 221015, 221100, 222434,
       226404, 228010, 228147, 229734, 230389, 230648, 230701, 231000,
       231355, 231381, 231984, 232422, 232850, 233588, 233800, 234012,
       235498, 235748, 236083, 238364, 238685, 238854, 239784, 239790,
       241655, 241728, 241906, 241984, 243084, 243126, 243862, 244599,
       244791, 245454, 247742, 248413, 248882, 249636, 250611, 250998,
       251304, 251500, 251920, 252181, 253202, 254343, 256570, 257692,
       258125, 258726, 259160, 260014, 260531, 262154, 262932, 263307,
       265007, 265033, 265188, 265984, 266342, 267252, 267883, 268343,
       269402, 270260, 271316, 271566, 271953, 272060, 272521, 273193,
       273814, 274202, 275658, 276009, 276080, 276967, 277267, 277753,
       278101, 279996, 282875, 282968, 283356, 284306, 284334, 287333,
       288116, 289058, 290509, 290661, 290801, 292152, 292188, 292910,
       293195, 294503, 295603, 296223, 296456, 296984, 297321, 297375,
       297614, 297836, 297871, 298006, 299037, 299540, 299833, 300047,
       300298, 300516, 301579, 302431, 304011, 304891, 305626, 305673,
       306043, 306132, 307158, 308819, 308882, 308949, 309625, 309749,
       310779, 311217, 311428, 313189, 313279, 313577, 313762, 314241,
       314640, 315996, 316054, 316386, 317081, 317155, 317175, 317685,
       318786, 319002, 319272, 319388, 320540, 320764, 320819, 321583,
       321857, 321858, 323211, 323237, 323650, 323757, 324221, 324841,
       325735, 326446, 327747, 328366, 328970, 328985, 330097, 330199,
       330486, 332143, 332293, 333016, 333562, 334311, 334465, 334536,
       335233, 336975, 337722, 338224, 338353, 338577, 339310, 339773,
       340262, 340487, 340934, 341255, 342133, 343071, 343939, 345287,
       346708, 349523, 349898, 350110, 351010, 351107, 351249, 351494,
       351597, 352001, 352699, 353235, 353421, 354836, 355940, 356111,
       356835, 357182, 357669, 359011, 359247, 359305, 359369, 360275,
       360548, 360912, 361003, 361230, 361447, 362281, 362800, 363560,
       363769, 363942, 367020, 369358, 369431, 370158, 370221, 370482,
       370713, 371159, 371174, 373413, 374291, 375461, 375853, 375959,
       376096, 376346, 376430, 377339, 378073, 378188, 378432, 379329,
       379523, 379766, 379903, 380498, 381425, 381478, 381538, 381811,
       382049, 382792, 382931, 383058, 384738, 384876, 385786, 387209,
       388551, 388642, 390115, 390502, 390708, 391477, 393071, 393962,
       394493, 394501, 394654, 394742, 394825, 395084, 395414, 395533,
       395756, 395861, 396283, 396335, 396522, 396772, 397309, 399226,
       399259, 399353, 400889, 402242, 402379, 402741, 403080, 403486,
       404095, 404277, 404290], dtype=int64)

In [19]:
video_activity_data_merged['watched_at'][2]

Timestamp('2021-06-04 18:27:01.296468+0000', tz='UTC')

In [74]:
import pandas as pd
from datetime import datetime

datelist = pd.date_range(video_activity_data_merged['watched_at'][2].strftime("%Y-%m-%d"), periods=7).tolist()

In [94]:

datelist

[Timestamp('2021-06-04 00:00:00', freq='D'),
 Timestamp('2021-06-05 00:00:00', freq='D'),
 Timestamp('2021-06-06 00:00:00', freq='D'),
 Timestamp('2021-06-07 00:00:00', freq='D'),
 Timestamp('2021-06-08 00:00:00', freq='D'),
 Timestamp('2021-06-09 00:00:00', freq='D'),
 Timestamp('2021-06-10 00:00:00', freq='D')]

In [57]:
type(num)

str

In [25]:
if video_activity_data_merged['watched_at'][2] in datelist:
    print('fuck yeah')

fuck yeah

In [36]:
luck='No Dataframe'
if luck == 'No Dataframe':
    print('somr')

somr

In [85]:
grouped_data=video_activity_data_grouped.get_group(6).sort_values(by=['watched_at'])

In [88]:
grouped_data[grouped_data['watched_at'].dt.date.isin(datelist)]

Empty DataFrame
Columns: [user_id, watch_instance_id, watched_at, video_id, duration, watched_duration, date_joined, date_of_first_purhcase, Subscription]
Index: []

In [91]:
grouped_data['new_date']=pd.to_datetime(grouped_data['watched_at'].dt.date)

In [95]:
grouped_data['new_date'][2]

Timestamp('2021-06-04 00:00:00')

In [96]:
grouped_data[grouped_data['new_date'].isin(datelist)]

,user_id,watch_instance_id,watched_at,video_id,duration,watched_duration,date_joined,date_of_first_purhcase,Subscription,new_date
2,6,24011079,2021-06-04 18:27:01.296468+00:00,24920,1589,55,2021-06-04,2021-06-04,Paid,2021-06-04
3,6,24011800,2021-06-04 18:51:27.450857+00:00,24531,319,28,2021-06-04,2021-06-04,Paid,2021-06-04
102,6,24014447,2021-06-05 00:30:19.680161+00:00,24690,1336,1,2021-06-04,2021-06-04,Paid,2021-06-05
96,6,24014503,2021-06-05 00:35:01.651207+00:00,24685,365,25,2021-06-04,2021-06-04,Paid,2021-06-05
82,6,24014515,2021-06-05 00:35:46.144276+00:00,25593,54,0,2021-06-04,2021-06-04,Paid,2021-06-05
44,6,24014534,2021-06-05 00:37:10.753390+00:00,25801,1692,1692,2021-06-04,2021-06-04,Paid,2021-06-05
72,6,24015043,2021-06-05 01:07:46.155795+00:00,24686,1589,0,2021-06-04,2021-06-04,Paid,2021-06-05
31,6,24076979,2021-06-05 18:29:41.182395+00:00,25413,2026,1945,2021-06-04,2021-06-04,Paid,2021-06-05
21,6,24192841,2021-06-07 14:42:09.156320+00:00,24688,1706,1402,2021-06-04,2021-06-04,Paid,2021-06-07
52,6,24206219,2021-06-07 17:53:25.909257+00:00,32981,3612,439,2021-06-04,2021-06-04,Paid,2021-06-07
12,6,24206520,2021-06-07 17:59:12.344583+00:00,32640,2096,2,2021-06-04,2021-06-04,Paid,2021-06-07
20,6,24227937,2021-06-08 06:31:48.156838+00:00,27371,1536,14,2021-06-04,2021-06-04,Paid,2021-06-08
103,6,24237552,2021-06-08 08:44:24.729119+00:00,24692,1578,16,2021-06-04,2021-06-04,Paid,2021-06-08
110,6,24249270,2021-06-08 11:15:10.605738+00:00,24694,1074,617,2021-06-04,2021-06-04,Paid,2021-06-08
60,6,24249337,2021-06-08 11:15:55.694855+00:00,27098,1553,313,2021-06-04,2021-06-04,Paid,2021-06-08
22,6,24249419,2021-06-08 11:17:03.575135+00:00,27516,1721,30,2021-06-04,2021-06-04,Paid,2021-06-08
4,6,24249571,2021-06-08 11:19:02.187747+00:00,32825,317,15,2021-06-04,2021-06-04,Paid,2021-06-08
23,6,24249668,2021-06-08 11:20:14.987169+00:00,38428,486,0,2021-06-04,2021-06-04,Paid,2021-06-08
88,6,24279714,2021-06-08 18:08:14.026436+00:00,29756,0,1846,2021-06-04,2021-06-04,Paid,2021-06-08
114,6,24355347,2021-06-09 23:58:32.587309+00:00,24698,1284,5,2021-06-04,2021-06-04,Paid,2021-06-09
123,6,24355353,2021-06-09 23:58:55.140115+00:00,24700,1352,286,2021-06-04,2021-06-04,Paid,2021-06-09
111,6,24384802,2021-06-10 09:15:22.786841+00:00,24696,1840,1812,2021-06-04,2021-06-04,Paid,2021-06-10
112,6,24423730,2021-06-10 18:14:05.425531+00:00,24699,1258,1,2021-06-04,2021-06-04,Paid,2021-06-10
113,6,24423758,2021-06-10 18:14:35.360947+00:00,24861,928,928,2021-06-04,2021-06-04,Paid,2021-06-10
115,6,24423780,2021-06-10 18:15:17.942817+00:00,24863,1003,910,2021-06-04,2021-06-04,Paid,2021-06-10
116,6,24424093,2021-06-10 18:24:29.199345+00:00,24864,548,24,2021-06-04,2021-06-04,Paid,2021-06-10
29,6,24424110,2021-06-10 18:24:49.636961+00:00,24865,1969,1884,2021-06-04,2021-06-04,Paid,2021-06-10
117,6,24424200,2021-06-10 18:27:03.313386+00:00,24867,2111,2,2021-06-04,2021-06-04,Paid,2021-06-10
119,6,24424248,2021-06-10 18:28:05.268102+00:00,24870,489,7,2021-06-04,2021-06-04,Paid,2021-06-10

In [ ]:
def join_date(data,)

In [63]:
grouped_data[(grouped_data['date_joined'] == datelist[0].strftime("%Y-%m-%d"))]

,user_id,watch_instance_id,watched_at,video_id,duration,watched_duration,date_joined,date_of_first_purhcase,Subscription
2,6,24011079,2021-06-04 18:27:01.296468+00:00,24920,1589,55,2021-06-04,2021-06-04,Paid
3,6,24011800,2021-06-04 18:51:27.450857+00:00,24531,319,28,2021-06-04,2021-06-04,Paid
102,6,24014447,2021-06-05 00:30:19.680161+00:00,24690,1336,1,2021-06-04,2021-06-04,Paid
96,6,24014503,2021-06-05 00:35:01.651207+00:00,24685,365,25,2021-06-04,2021-06-04,Paid
82,6,24014515,2021-06-05 00:35:46.144276+00:00,25593,54,0,2021-06-04,2021-06-04,Paid
44,6,24014534,2021-06-05 00:37:10.753390+00:00,25801,1692,1692,2021-06-04,2021-06-04,Paid
72,6,24015043,2021-06-05 01:07:46.155795+00:00,24686,1589,0,2021-06-04,2021-06-04,Paid
31,6,24076979,2021-06-05 18:29:41.182395+00:00,25413,2026,1945,2021-06-04,2021-06-04,Paid
21,6,24192841,2021-06-07 14:42:09.156320+00:00,24688,1706,1402,2021-06-04,2021-06-04,Paid
52,6,24206219,2021-06-07 17:53:25.909257+00:00,32981,3612,439,2021-06-04,2021-06-04,Paid
12,6,24206520,2021-06-07 17:59:12.344583+00:00,32640,2096,2,2021-06-04,2021-06-04,Paid
20,6,24227937,2021-06-08 06:31:48.156838+00:00,27371,1536,14,2021-06-04,2021-06-04,Paid
103,6,24237552,2021-06-08 08:44:24.729119+00:00,24692,1578,16,2021-06-04,2021-06-04,Paid
110,6,24249270,2021-06-08 11:15:10.605738+00:00,24694,1074,617,2021-06-04,2021-06-04,Paid
60,6,24249337,2021-06-08 11:15:55.694855+00:00,27098,1553,313,2021-06-04,2021-06-04,Paid
22,6,24249419,2021-06-08 11:17:03.575135+00:00,27516,1721,30,2021-06-04,2021-06-04,Paid
4,6,24249571,2021-06-08 11:19:02.187747+00:00,32825,317,15,2021-06-04,2021-06-04,Paid
23,6,24249668,2021-06-08 11:20:14.987169+00:00,38428,486,0,2021-06-04,2021-06-04,Paid
88,6,24279714,2021-06-08 18:08:14.026436+00:00,29756,0,1846,2021-06-04,2021-06-04,Paid
114,6,24355347,2021-06-09 23:58:32.587309+00:00,24698,1284,5,2021-06-04,2021-06-04,Paid
123,6,24355353,2021-06-09 23:58:55.140115+00:00,24700,1352,286,2021-06-04,2021-06-04,Paid
111,6,24384802,2021-06-10 09:15:22.786841+00:00,24696,1840,1812,2021-06-04,2021-06-04,Paid
112,6,24423730,2021-06-10 18:14:05.425531+00:00,24699,1258,1,2021-06-04,2021-06-04,Paid
113,6,24423758,2021-06-10 18:14:35.360947+00:00,24861,928,928,2021-06-04,2021-06-04,Paid
115,6,24423780,2021-06-10 18:15:17.942817+00:00,24863,1003,910,2021-06-04,2021-06-04,Paid
116,6,24424093,2021-06-10 18:24:29.199345+00:00,24864,548,24,2021-06-04,2021-06-04,Paid
29,6,24424110,2021-06-10 18:24:49.636961+00:00,24865,1969,1884,2021-06-04,2021-06-04,Paid
117,6,24424200,2021-06-10 18:27:03.313386+00:00,24867,2111,2,2021-06-04,2021-06-04,Paid
119,6,24424248,2021-06-10 18:28:05.268102+00:00,24870,489,7,2021-06-04,2021-06-04,Paid
120,6,24487035,2021-06-11 18:08:37.722169+00:00,25108,2163,5,2021-06-04,2021-06-04,Paid
83,6,24487097,2021-06-11 18:10:05.701923+00:00,25424,1245,0,2021-06-04,2021-06-04,Paid
33,6,24487104,2021-06-11 18:10:18.960352+00:00,25425,1153,40,2021-06-04,2021-06-04,Paid
6,6,24487133,2021-06-11 18:10:55.176817+00:00,25840,1251,17,2021-06-04,2021-06-04,Paid
7,6,24487136,2021-06-11 18:10:58.296319+00:00,25841,1826,1,2021-06-04,2021-06-04,Paid
8,6,24487143,2021-06-11 18:11:06.006693+00:00,25842,1082,6,2021-06-04,2021-06-04,Paid
9,6,24487158,2021-06-11 18:11:32.114666+00:00,26663,600,3,2021-06-04,2021-06-04,Paid
27,6,24487169,2021-06-11 18:11:48.263314+00:00,26664,907,16,2021-06-04,2021-06-04,Paid
10,6,24487404,2021-06-11 18:17:39.860809+00:00,39121,3100,18,2021-06-04,2021-06-04,Paid
11,6,24487406,2021-06-11 18:17:44.104573+00:00,39126,3100,2,2021-06-04,2021-06-04,Paid
40,6,24551837,2021-06-12 17:58:08.759050+00:00,25168,2005,2005,2021-06-04,2021-06-04,Paid
34,6,24552434,2021-06-12 18:13:11.300793+00:00,25169,873,672,2021-06-04,2021-06-04,Paid
0,6,24552452,2021-06-12 18:13:40.347392+00:00,25261,934,2,2021-06-04,2021-06-04,Paid
1,6,24552735,2021-06-12 18:21:45.362998+00:00,25262,398,398,2021-06-04,2021-06-04,Paid
30,6,24552968,2021-06-12 18:30:06.474527+00:00,38016,507,507,2021-06-04,2021-06-04,Paid
124,6,24553432,2021-06-12 18:44:49.155486+00:00,25621,896,5,2021-06-04,2021-06-04,Paid
35,6,24553441,2021-06-12 18:45:05.294144+00:00,25622,579,27,2021-06-04,2021-06-04,Paid
32,6,24553784,2021-06-12 18:55:59.162422+00:00,25414,1210,1210,2021-06-04,2021-06-04,Paid
39,6,24995912,2021-06-20 06:41:00.883301+00:00,25109,884,16,2021-06-04,2021-06-04,Paid
42,6,25069397,2021-06-21 13:54:49.189698+00:00,25428,1223,1223,2021-06-04,2021-06-04,Paid
41,6,25069448,2021-06-21 13:55:38.678702+00:00,25429,725,2,2021-06-04,2021-06-04,Paid
45,6,25082930,2021-06-21 17:38:28.567581+00:00,25802,1260,9,2021-06-04,2021-06-04,Paid
46,6,25083980,2021-06-21 18:00:48.721077+00:00,25835,1022,9,2021-06-04,2021-06-04,Paid
55,6,25084204,2021-06-21 18:05:44.095687+00:00,25901,1423,1423,2021-06-04,2021-06-04,Paid
47,6,25084617,2021-06-21 18:15:11.368626+00:00,36984,972,5,2021-06-04,2021-06-04,Paid
48,6,25084651,2021-06-21 18:15:57.397293+00:00,34183,2221,35,2021-06-04,2021-06-04,Paid
108,6,25084952,2021-06-21 18:25:02.764706+00:00,30794,2941,1316,2021-06-04,2021-06-04,Paid
49,6,25084964,2021-06-21 18:25:27.247418+00:00,30795,1966,23,2021-06-04,2021-06-04,Paid
50,6,25085021,2021-06-21 18:27:04.312823+00:00,31992,2044,1,2021-06-04,2021-06-04,Paid
51,6,25085049,2021-06-21 18:27:36.532651+00:00,32162,1984,30,2021-06-04,2021-06-04,Paid
56,6,25193564,2021-06-23 17:23:47.173113+00:00,26374,1259,35,2021-06-04,2021-06-04,Paid
18,6,25218092,2021-06-24 08:26:13.665112+00:00,25988,1599,1599,2021-06-04,2021-06-04,Paid
13,6,25295963,2021-06-25 17:10:54.722441+00:00,9135,1629,14,2021-06-04,2021-06-04,Paid
14,6,25296004,2021-06-25 17:11:49.159010+00:00,9268,1339,43,2021-06-04,2021-06-04,Paid
19,6,25297742,2021-06-25 17:49:56.415060+00:00,25905,54,54,2021-06-04,2021-06-04,Paid
15,6,25298152,2021-06-25 18:00:20.126602+00:00,25996,859,859,2021-06-04,2021-06-04,Paid
16,6,25298154,2021-06-25 18:00:21.418661+00:00,25997,1064,0,2021-06-04,2021-06-04,Paid
24,6,25298170,2021-06-25 18:00:47.769014+00:00,26065,473,473,2021-06-04,2021-06-04,Paid
17,6,25298171,2021-06-25 18:00:48.367360+00:00,26067,1190,0,2021-06-04,2021-06-04,Paid
25,6,25298187,2021-06-25 18:01:02.254475+00:00,26066,1799,3,2021-06-04,2021-06-04,Paid
26,6,25326165,2021-06-26 09:49:59.351586+00:00,26972,822,0,2021-06-04,2021-06-04,Paid
28,6,25356309,2021-06-27 02:05:56.379496+00:00,26069,1366,0,2021-06-04,2021-06-04,Paid
37,6,25449899,2021-06-28 18:13:52.331691+00:00,26669,54,20,2021-06-04,2021-06-04,Paid
38,6,25451042,2021-06-28 18:51:29.773898+00:00,27099,515,4,2021-06-04,2021-06-04,Paid
87,6,25451112,2021-06-28 18:54:40.794373+00:00,27122,1329,1329,2021-06-04,2021-06-04,Paid
36,6,25451159,2021-06-28 18:57:24.743450+00:00,27155,1192,1192,2021-06-04,2021-06-04,Paid
58,6,25451309,2021-06-28 19:06:53.996888+00:00,27157,2639,0,2021-06-04,2021-06-04,Paid
43,6,25498381,2021-06-29 17:08:00.163403+00:00,17085,1221,84,2021-06-04,2021-06-04,Paid
61,6,25928612,2021-07-07 18:09:20.583741+00:00,27849,1613,1613,2021-06-04,2021-06-04,Paid
68,6,25928947,2021-07-07 18:18:43.923384+00:00,27123,1528,1528,2021-06-04,2021-06-04,Paid
71,6,26095322,2021-07-10 17:55:20.171811+00:00,27156,1242,1242,2021-06-04,2021-06-04,Paid
101,6,26121273,2021-07-11 09:57:43.708017+00:00,24687,636,600,2021-06-04,2021-06-04,Paid
73,6,26122412,2021-07-11 10:17:38.830191+00:00,27924,434,404,2021-06-04,2021-06-04,Paid
74,6,26134171,2021-07-11 14:13:45.993343+00:00,27927,979,38,2021-06-04,2021-06-04,Paid
5,6,26136607,2021-07-11 14:56:01.708808+00:00,28040,1494,2,2021-06-04,2021-06-04,Paid
75,6,26138154,2021-07-11 15:22:21.022611+00:00,28303,1560,1525,2021-06-04,2021-06-04,Paid
77,6,26138215,2021-07-11 15:23:16.781244+00:00,28466,2185,2185,2021-06-04,2021-06-04,Paid
76,6,26152587,2021-07-12 02:44:23.204169+00:00,28412,995,995,2021-06-04,2021-06-04,Paid
78,6,26167816,2021-07-12 08:25:01.298600+00:00,28470,492,492,2021-06-04,2021-06-04,Paid
79,6,26167842,2021-07-12 08:25:35.564740+00:00,28471,54,7,2021-06-04,2021-06-04,Paid
80,6,26169202,2021-07-12 08:54:35.720873+00:00,28689,1523,1421,2021-06-04,2021-06-04,Paid
81,6,26169224,2021-07-12 08:54:54.685674+00:00,28735,1209,1209,2021-06-04,2021-06-04,Paid
84,6,26176734,2021-07-12 10:52:06.478837+00:00,28797,938,938,2021-06-04,2021-06-04,Paid
85,6,26189837,2021-07-12 14:30:28.259614+00:00,27199,1769,1769,2021-06-04,2021-06-04,Paid
86,6,26229230,2021-07-13 08:43:55.886983+00:00,28846,54,12,2021-06-04,2021-06-04,Paid
91,6,26229254,2021-07-13 08:44:21.621376+00:00,28961,987,1,2021-06-04,2021-06-04,Paid
89,6,26272477,2021-07-14 02:31:27.606765+00:00,29761,1095,1095,2021-06-04,2021-06-04,Paid
106,6,26272526,2021-07-14 02:32:32.625366+00:00,30596,1541,2,2021-06-04,2021-06-04,Paid
97,6,26390929,2021-07-16 03:04:37.067647+00:00,28962,1424,948,2021-06-04,2021-06-04,Paid
54,6,26554843,2021-07-18 17:42:14.412441+00:00,32673,54,3,2021-06-04,2021-06-04,Paid
53,6,26555095,2021-07-18 17:47:58.336806+00:00,32982,662,34,2021-06-04,2021-06-04,Paid
98,6,27021755,2021-07-27 03:25:32.126844+00:00,29050,1872,1872,2021-06-04,2021-06-04,Paid
92,6,27021758,2021-07-27 03:25:35.987111+00:00,29051,986,1,2021-06-04,2021-06-04,Paid
57,6,27021774,2021-07-27 03:25:55.163911+00:00,29131,822,2,2021-06-04,2021-06-04,Paid
100,6,27021855,2021-07-27 03:28:02.036871+00:00,29132,1057,10,2021-06-04,2021-06-04,Paid
94,6,27021864,2021-07-27 03:28:12.792028+00:00,24529,365,0,2021-06-04,2021-06-04,Paid
59,6,27035847,2021-07-27 07:49:26.261012+00:00,47194,504,27,2021-06-04,2021-06-04,Paid
99,6,27102418,2021-07-28 09:41:56.182692+00:00,29195,918,53,2021-06-04,2021-06-04,Paid
62,6,27136606,2021-07-29 01:13:29.509111+00:00,30103,1495,212,2021-06-04,2021-06-04,Paid
63,6,27136610,2021-07-29 01:13:41.892237+00:00,30152,2016,0,2021-06-04,2021-06-04,Paid
104,6,27136822,2021-07-29 01:23:39.297962+00:00,30154,2652,51,2021-06-04,2021-06-04,Paid
64,6,27136936,2021-07-29 01:28:34.276892+00:00,30150,1754,1,2021-06-04,2021-06-04,Paid
67,6,27137156,2021-07-29 01:38:02.134949+00:00,30151,2046,1880,2021-06-04,2021-06-04,Paid
69,6,27137164,2021-07-29 01:38:37.261026+00:00,30326,2371,8,2021-06-04,2021-06-04,Paid
70,6,27137448,2021-07-29 01:49:06.206725+00:00,30327,1471,29,2021-06-04,2021-06-04,Paid
66,6,27137461,2021-07-29 01:49:25.907002+00:00,30454,936,0,2021-06-04,2021-06-04,Paid
105,6,27137487,2021-07-29 01:50:26.085421+00:00,30455,1200,59,2021-06-04,2021-06-04,Paid
90,6,27178423,2021-07-29 14:10:16.774370+00:00,42420,2505,51,2021-06-04,2021-06-04,Paid
109,6,27181371,2021-07-29 14:29:41.025598+00:00,31058,1495,202,2021-06-04,2021-06-04,Paid
93,6,27181415,2021-07-29 14:30:03.775183+00:00,30678,2816,2,2021-06-04,2021-06-04,Paid
95,6,27181486,2021-07-29 14:30:39.585978+00:00,30679,626,8,2021-06-04,2021-06-04,Paid
107,6,27182210,2021-07-29 14:36:14.230193+00:00,30597,1573,1573,2021-06-04,2021-06-04,Paid
118,6,27336914,2021-08-01 09:47:13.952594+00:00,24869,2283,2283,2021-06-04,2021-06-04,Paid
121,6,27338852,2021-08-01 10:23:38.567610+00:00,25110,1730,1533,2021-06-04,2021-06-04,Paid
65,6,27339881,2021-08-01 10:42:06.075443+00:00,25432,1073,1,2021-06-04,2021-06-04,Paid
122,6,27370467,2021-08-02 03:05:38.120590+00:00,25434,961,961,2021-06-04,2021-06-04,Paid
125,6,27443325,2021-08-03 06:55:27.213622+00:00,25624,1170,1,2021-06-04,2021-06-04,Paid

In [60]:
grouped_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126 entries, 2 to 125
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   user_id                 126 non-null    int64
 1   watch_instance_id       126 non-null    int64
 2   watched_at              126 non-null    datetime64[ns, UTC]
 3   video_id                126 non-null    int64
 4   duration                126 non-null    int64
 5   watched_duration        126 non-null    int64
 6   date_joined             126 non-null    datetime64[ns]
 7   date_of_first_purhcase  126 non-null    datetime64[ns]
 8   Subscription            126 non-null    object
dtypes: datetime64[ns, UTC](1), datetime64[ns](2), int64(5), object(1)
memory usage: 9.8+ KB

In [82]:
print(grouped_data['watched_at'].dt.strftime("%Y-%m-%d"))
print(datelist[1])

2021-06-04
2021-06-05 00:00:00

In [72]:
grouped_data['watched_at']

2     2021-06-04 18:27:01.296468+00:00
3     2021-06-04 18:51:27.450857+00:00
102   2021-06-05 00:30:19.680161+00:00
96    2021-06-05 00:35:01.651207+00:00
82    2021-06-05 00:35:46.144276+00:00
44    2021-06-05 00:37:10.753390+00:00
72    2021-06-05 01:07:46.155795+00:00
31    2021-06-05 18:29:41.182395+00:00
21    2021-06-07 14:42:09.156320+00:00
52    2021-06-07 17:53:25.909257+00:00
12    2021-06-07 17:59:12.344583+00:00
20    2021-06-08 06:31:48.156838+00:00
103   2021-06-08 08:44:24.729119+00:00
110   2021-06-08 11:15:10.605738+00:00
60    2021-06-08 11:15:55.694855+00:00
22    2021-06-08 11:17:03.575135+00:00
4     2021-06-08 11:19:02.187747+00:00
23    2021-06-08 11:20:14.987169+00:00
88    2021-06-08 18:08:14.026436+00:00
114   2021-06-09 23:58:32.587309+00:00
123   2021-06-09 23:58:55.140115+00:00
111   2021-06-10 09:15:22.786841+00:00
112   2021-06-10 18:14:05.425531+00:00
113   2021-06-10 18:14:35.360947+00:00
115   2021-06-10 18:15:17.942817+00:00
116   2021-06-10 18:24:29.199345+00:00
29    2021-06-10 18:24:49.636961+00:00
117   2021-06-10 18:27:03.313386+00:00
119   2021-06-10 18:28:05.268102+00:00
120   2021-06-11 18:08:37.722169+00:00
83    2021-06-11 18:10:05.701923+00:00
33    2021-06-11 18:10:18.960352+00:00
6     2021-06-11 18:10:55.176817+00:00
7     2021-06-11 18:10:58.296319+00:00
8     2021-06-11 18:11:06.006693+00:00
9     2021-06-11 18:11:32.114666+00:00
27    2021-06-11 18:11:48.263314+00:00
10    2021-06-11 18:17:39.860809+00:00
11    2021-06-11 18:17:44.104573+00:00
40    2021-06-12 17:58:08.759050+00:00
34    2021-06-12 18:13:11.300793+00:00
0     2021-06-12 18:13:40.347392+00:00
1     2021-06-12 18:21:45.362998+00:00
30    2021-06-12 18:30:06.474527+00:00
124   2021-06-12 18:44:49.155486+00:00
35    2021-06-12 18:45:05.294144+00:00
32    2021-06-12 18:55:59.162422+00:00
39    2021-06-20 06:41:00.883301+00:00
42    2021-06-21 13:54:49.189698+00:00
41    2021-06-21 13:55:38.678702+00:00
45    2021-06-21 17:38:28.567581+00:00
46    2021-06-21 18:00:48.721077+00:00
55    2021-06-21 18:05:44.095687+00:00
47    2021-06-21 18:15:11.368626+00:00
48    2021-06-21 18:15:57.397293+00:00
108   2021-06-21 18:25:02.764706+00:00
49    2021-06-21 18:25:27.247418+00:00
50    2021-06-21 18:27:04.312823+00:00
51    2021-06-21 18:27:36.532651+00:00
56    2021-06-23 17:23:47.173113+00:00
18    2021-06-24 08:26:13.665112+00:00
13    2021-06-25 17:10:54.722441+00:00
14    2021-06-25 17:11:49.159010+00:00
19    2021-06-25 17:49:56.415060+00:00
15    2021-06-25 18:00:20.126602+00:00
16    2021-06-25 18:00:21.418661+00:00
24    2021-06-25 18:00:47.769014+00:00
17    2021-06-25 18:00:48.367360+00:00
25    2021-06-25 18:01:02.254475+00:00
26    2021-06-26 09:49:59.351586+00:00
28    2021-06-27 02:05:56.379496+00:00
37    2021-06-28 18:13:52.331691+00:00
38    2021-06-28 18:51:29.773898+00:00
87    2021-06-28 18:54:40.794373+00:00
36    2021-06-28 18:57:24.743450+00:00
58    2021-06-28 19:06:53.996888+00:00
43    2021-06-29 17:08:00.163403+00:00
61    2021-07-07 18:09:20.583741+00:00
68    2021-07-07 18:18:43.923384+00:00
71    2021-07-10 17:55:20.171811+00:00
101   2021-07-11 09:57:43.708017+00:00
73    2021-07-11 10:17:38.830191+00:00
74    2021-07-11 14:13:45.993343+00:00
5     2021-07-11 14:56:01.708808+00:00
75    2021-07-11 15:22:21.022611+00:00
77    2021-07-11 15:23:16.781244+00:00
76    2021-07-12 02:44:23.204169+00:00
78    2021-07-12 08:25:01.298600+00:00
79    2021-07-12 08:25:35.564740+00:00
80    2021-07-12 08:54:35.720873+00:00
81    2021-07-12 08:54:54.685674+00:00
84    2021-07-12 10:52:06.478837+00:00
85    2021-07-12 14:30:28.259614+00:00
86    2021-07-13 08:43:55.886983+00:00
91    2021-07-13 08:44:21.621376+00:00
89    2021-07-14 02:31:27.606765+00:00
106   2021-07-14 02:32:32.625366+00:00
97    2021-07-16 03:04:37.067647+00:00
54    2021-07-18 17:42:14.412441+00:00
53    2021-07-18 17:47:58.336806+00:00
98    2021-07-27 03:25:32.126844+00:00
92    2021-07-27 03:25:35.987111+00:00
57    2021-07-27 03:25:55.163911+00:00
100   2021-07-27 03:28:02.036871+00:00
94    2021-07-27 03:28:12.792028+00:00
59    2021-07-27 07:49:26.261012+00:00
99    2021-07-28 09:41:56.182692+00:00
62    2021-07-29 01:13:29.509111+00:00
63    2021-07-29 01:13:41.892237+00:00
104   2021-07-29 01:23:39.297962+00:00
64    2021-07-29 01:28:34.276892+00:00
67    2021-07-29 01:38:02.134949+00:00
69    2021-07-29 01:38:37.261026+00:00
70    2021-07-29 01:49:06.206725+00:00
66    2021-07-29 01:49:25.907002+00:00
105   2021-07-29 01:50:26.085421+00:00
90    2021-07-29 14:10:16.774370+00:00
109   2021-07-29 14:29:41.025598+00:00
93    2021-07-29 14:30:03.775183+00:00
95    2021-07-29 14:30:39.585978+00:00
107   2021-07-29 14:36:14.230193+00:00
118   2021-08-01 09:47:13.952594+00:00
121   2021-08-01 10:23:38.567610+00:00
65    2021-08-01 10:42:06.075443+00:00
122   2021-08-02 03:05:38.120590+00:00
125   2021-08-03 06:55:27.213622+00:00
Name: watched_at, dtype: datetime64[ns, UTC]

In [114]:
video_activity_data_merged['new_date']=pd.to_datetime(video_activity_data_merged['watched_at'].dt.date)

In [115]:
video_activity_data_merged.head()

,user_id,watch_instance_id,watched_at,video_id,duration,watched_duration,date_joined,date_of_first_purhcase,Subscription,new_date
0,6,24552452,2021-06-12 18:13:40.347392+00:00,25261,934,2,2021-06-04,2021-06-04,Paid,2021-06-12
1,6,24552735,2021-06-12 18:21:45.362998+00:00,25262,398,398,2021-06-04,2021-06-04,Paid,2021-06-12
2,6,24011079,2021-06-04 18:27:01.296468+00:00,24920,1589,55,2021-06-04,2021-06-04,Paid,2021-06-04
3,6,24011800,2021-06-04 18:51:27.450857+00:00,24531,319,28,2021-06-04,2021-06-04,Paid,2021-06-04
4,6,24249571,2021-06-08 11:19:02.187747+00:00,32825,317,15,2021-06-04,2021-06-04,Paid,2021-06-08

In [118]:
video_activity_data_merged[video_activity_data_merged['new_date'].isin(datelist)]['Subscription'].value_counts()

Paid      623
Unpaid     59
Name: Subscription, dtype: int64

In [103]:
quiz_attempt_data=pd.read_csv(r'G:\MLDPI\Data analyst projects\Entri app Challenge\user_data_set\user_quiz_attempt_data.csv')

In [105]:
quiz_attempt_data['started_at']=np.where(quiz_attempt_data['started_at']=='None',np.nan,quiz_attempt_data['started_at'])

In [107]:
quiz_attempt_data['started_at']=pd.to_datetime(quiz_attempt_data['started_at'])

In [111]:
quiz_attempt_data.head()

,user_id,attempt_id,started_at,status,no_of_questions,question_attempted,new_date
0,1506,50839743,NaT,CREATE,10,0,NaT
1,1506,50839752,NaT,PAUSE,10,10,NaT
2,1642,50842794,2021-06-04 16:52:25.634573+00:00,COMPLETE,10,10,2021-06-04
3,1642,50843057,2021-06-04 16:55:37.917805+00:00,COMPLETE,10,10,2021-06-04
4,1642,50843164,NaT,CREATE,10,0,NaT

In [110]:
quiz_attempt_data['new_date']=pd.to_datetime(quiz_attempt_data['started_at'].dt.date)

In [113]:
quiz_attempt_data[quiz_attempt_data['new_date'].isin(datelist)]['']

(515, 7)

In [119]:
quiz_attempt_data_merged=pd.merge(quiz_attempt_data, purchase_data, how ='inner', on ='user_id')

In [122]:
quiz_attempt_data_merged['new_date']=pd.to_datetime(quiz_attempt_data_merged['started_at'].dt.date)

In [126]:
quiz_attempt_data_merged[quiz_attempt_data_merged['new_date'].isin(datelist)]['user_id'].unique()

array([ 1642,     6,  2610,  3439,  3664,  3421,  1831,  6323,  8062,
        9331, 11729, 11736, 11104, 15230, 12671, 15605, 15431, 16938,
        9747, 17705, 19104, 20168, 21760, 21808, 19117, 23908, 25313,
       20740, 21708, 26478, 26580, 27499, 27946, 28487, 28621, 29443,
       29403, 29712, 19800, 30206, 30582, 30437, 13940, 31835,  7102,
       21043, 34032,  6190, 35674,  7305, 36414, 34271, 36338, 38173,
       39414, 36009, 32455, 38599, 41527, 41706, 31373, 38705, 39551,
       43158, 41094, 46309,  1796, 48295, 48595,  8962, 47954, 49995],
      dtype=int64)

In [128]:
subscription_data.head()

   user_id      track_slug subscription_date
0        6      kerala-psc        2021-06-04
1        6            KTET        2021-06-04
2      608  spoken-english        2021-06-04
3      608           APPSC        2021-06-04
4      608   Eng_With_Awal        2021-06-04

In [131]:
video_activity_data_merged.head()

,user_id,watch_instance_id,watched_at,video_id,duration,watched_duration,date_joined,date_of_first_purhcase,Subscription,new_date
0,6,24552452,2021-06-12 18:13:40.347392+00:00,25261,934,2,2021-06-04,2021-06-04,Paid,2021-06-12
1,6,24552735,2021-06-12 18:21:45.362998+00:00,25262,398,398,2021-06-04,2021-06-04,Paid,2021-06-12
2,6,24011079,2021-06-04 18:27:01.296468+00:00,24920,1589,55,2021-06-04,2021-06-04,Paid,2021-06-04
3,6,24011800,2021-06-04 18:51:27.450857+00:00,24531,319,28,2021-06-04,2021-06-04,Paid,2021-06-04
4,6,24249571,2021-06-08 11:19:02.187747+00:00,32825,317,15,2021-06-04,2021-06-04,Paid,2021-06-08

In [132]:
new_merge=pd.merge(video_activity_data_merged, subscription_data, how ='inner', on ='user_id')

In [133]:
new_merge.shape

(36255, 12)